In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv("/content/drive/MyDrive/DATA FILES/Drinks")
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

**1. For the given data find mean, standard deviation and variance.**

In [34]:
sum = 0
sd = 0
c = len(df["beer_servings"])
for i in df["beer_servings"]:
  sum = sum + i
mean_beer = sum/c
for j in df["beer_servings"]:
  a = (j - mean_beer)**2/c
  sd = a + sd
print(f"'beer_servings' column's mean is : {(mean_beer)}")
print(f"'beer_servings' column's standard deviation is : {(np.sqrt(sd))}")
print(f"'beer_servings' column's variance is : {(sd)}")

'beer_servings' column's mean is : 106.16062176165804
'beer_servings' column's standard deviation is : 100.88073347858936
'beer_servings' column's variance is : 10176.92238717818

In [35]:
sum = 0
sd = 0
c = len(df["spirit_servings"])
for i in df["spirit_servings"]:
  sum = sum + i
mean_beer = sum/c
for j in df["spirit_servings"]:
  a = (j - mean_beer)**2/c
  sd = a + sd
print(f"'spirit_servings' column's mean is : {(mean_beer)}")
print(f"'spirit_servings' column's standard deviation is : {(np.sqrt(sd))}")
print(f"'spirit_servings' column's variance is : {(sd)}")

'spirit_servings' column's mean is : 80.99481865284974
'spirit_servings' column's standard deviation is : 88.0552992411529
'spirit_servings' column's variance is : 7753.73572444898

In [36]:
sum = 0
sd = 0
c = len(df["wine_servings"])
for i in df["wine_servings"]:
  sum = sum + i
mean_beer = sum/c
for j in df["wine_servings"]:
  a = (j - mean_beer)**2/c
  sd = a + sd
print(f"'wine_servings' column's mean is : {(mean_beer)}")
print(f"'wine_servings' column's standard deviation is : {(np.sqrt(sd))}")
print(f"'wine_servings' column's variance is : {(sd)}")

'wine_servings' column's mean is : 49.45077720207254
'wine_servings' column's standard deviation is : 79.49085985139477
'wine_servings' column's variance is : 6318.7967999140865

In [37]:
sum = 0
sd = 0
c = len(df["total_litres_of_pure_alcohol"])
for i in df["total_litres_of_pure_alcohol"]:
  sum = sum + i
mean_beer = sum/c
for j in df["total_litres_of_pure_alcohol"]:
  a = (j - mean_beer)**2/c
  sd = a + sd
print(f"'total_litres_of_pure_alcohol' column's mean is : {(mean_beer)}")
print(f"'total_litres_of_pure_alcohol' column's standard deviation is : {(np.sqrt(sd))}")
print(f"'total_litres_of_pure_alcohol' column's variance is : {(sd)}")

'total_litres_of_pure_alcohol' column's mean is : 4.717098445595855
'total_litres_of_pure_alcohol' column's standard deviation is : 3.7635100851854926
'total_litres_of_pure_alcohol' column's variance is : 14.164008161292912

**2. From the given data, take a sample and find mean, standard deviation and variance for population in excel.
Also, validate Central Limit Theorem in excel and python as discussed in the class.**

In [38]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [39]:
sample_1 = df[10:50]
sample_2 = df[50:90]
sample_3 = df[90:130]
sample_4 = df[70:110]
sample_5 = df[30:70]

In [40]:
# mean

a = np.mean(sample_1)
b = np.mean(sample_2)
c = np.mean(sample_3)
d = np.mean(sample_4)
e = np.mean(sample_5)

popmean = (a+b+c+d+e)/5
print(popmean)

beer_servings                   99.1600
spirit_servings                 81.8200
wine_servings                   46.9450
total_litres_of_pure_alcohol     4.4365
dtype: float64

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [41]:
# std

a = np.std(sample_1)
b = np.std(sample_2)
c = np.std(sample_3)
d = np.std(sample_4)
e = np.std(sample_5)


popstd = (a+b+c+d+e)/5
print(popstd)

beer_servings                   100.013173
spirit_servings                  88.511450
wine_servings                    77.232390
total_litres_of_pure_alcohol      3.731974
dtype: float64

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3613: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3613: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3613: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3613: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3613: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [42]:
# variance

a = np.var(sample_1)
b = np.var(sample_2)
c = np.var(sample_3)
d = np.var(sample_4)
e = np.var(sample_5)

popvar = (a+b+c+e+d)/5
print(popvar)

beer_servings                   10026.718750
spirit_servings                  7970.032000
wine_servings                    6110.783125
total_litres_of_pure_alcohol       13.932046
dtype: float64

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3755: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3755: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3755: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3755: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3755: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

**3. Theory Task: Estimate mean for the problem statement discussed by your mentor.**

In [43]:
mean = np.mean(df)
mean

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

**4. Theory Task: Validate Hypothesis for the problem statement discussed by your mentor.**

In [44]:
l_sample = [7.65, 7.60, 7.65, 7.70, 7.55, 7.55, 7.40, 7.40, 7.50, 7.50]
fdf = pd.DataFrame(l_sample)

from scipy.stats import ttest_1samp

alpha = 0.05
t , p = ttest_1samp(fdf, popmean = 7.5)

if alpha < p:
  print("H0 Accept")
else:
  print("H1 Accept")

H0 Accept

**5. Perform One-way and two-way ANOVA on the dataset as discussed in class using formulae as well as ANOVA
.**

In [45]:
from scipy.stats import f_oneway

In [46]:
sample_1 = df[10:55]
sample_2 = df[50:95]
sample_3 = df[90:135]

f_oneway(sample_1.beer_servings, sample_2.beer_servings, sample_3.beer_servings, )

F_onewayResult(statistic=0.30013744153754174, pvalue=0.7412205494372789)

**6. Perform t-test on the dataset as discussed in class using t-test**

In [47]:
ttdf = df[:190:11]

In [48]:
ttdf.shape

(18, 6)

In [49]:
from scipy.stats import ttest_1samp

In [50]:
t , beer_servings_p = ttest_1samp(ttdf["beer_servings"],popmean=106.160622)
t , spirit_servings_p = ttest_1samp(ttdf["spirit_servings"],popmean=80.994819)
t , wine_servings_p = ttest_1samp(ttdf["wine_servings"],popmean=49.450777)
t , total_litres_of_pure_alcohol_p = ttest_1samp(ttdf["total_litres_of_pure_alcohol"],popmean=4.71709)

In [51]:
h0 = 0
h1 = 0
alpha = 0.05
if alpha < beer_servings_p:
  print("Accept H0")
if alpha < spirit_servings_p:
  print("Accept H0")
if alpha < wine_servings_p:
  print("Accept H0")
if alpha < total_litres_of_pure_alcohol_p:
  print("Accept H0")

Accept H0
Accept H0
Accept H0
Accept H0